<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="edu.ustb.sei.mde.xmu2.resource.xmu2.mopp.Xmu2MetaInformation" id="edu.ustb.sei.mde.xmu2.resource.xmu2.mopp.Xmu2MetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu2.resource.xmu2.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu2.resource.xmu2.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu2.resource.xmu2.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu2.resource.xmu2.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu2.resource.xmu2.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.nature" name="xmu2 nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="edu.ustb.sei.mde.xmu2.resource.xmu2.mopp.Xmu2Nature">
			</run>
		</runtime>
		<builder id="edu.ustb.sei.mde.xmu2.resource.xmu2.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="edu.ustb.sei.mde.xmu2.resource.xmu2.builder" name="xmu2 Builder">
		<builder hasNature="true">
			<run class="edu.ustb.sei.mde.xmu2.resource.xmu2.mopp.Xmu2BuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="edu.ustb.sei.mde.xmu2.resource.xmu2.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="edu.ustb.sei.mde.xmu2.resource.xmu2.mopp.Xmu2ResourceFactoryDelegator" type="xmu2">
		</parser>
	</extension>
	
	<extension-point id="edu.ustb.sei.mde.xmu2.resource.xmu2.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="edu.ustb.sei.mde.xmu2.resource.xmu2.debug.Xmu2LineBreakpoint" id="edu.ustb.sei.mde.xmu2.resource.xmu2.debug.breakpoint" markerType="edu.ustb.sei.mde.xmu2.resource.xmu2.debug.lineBreakpoint.marker" name="xmu2 Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu2.resource.xmu2.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="edu.ustb.sei.mde.xmu2.resource.xmu2.ui.launchConfigurationType" delegate="edu.ustb.sei.mde.xmu2.resource.xmu2.launch.Xmu2LaunchConfigurationDelegate" modes="run,debug" name="xmu2 Application" sourceLocatorId="edu.ustb.sei.mde.xmu2.resource.xmu2.ui.sourceLocator" sourcePathComputerId="edu.ustb.sei.mde.xmu2.resource.xmu2.ui.sourcePathComputer" delegateName="xmu2 Launch Tooling" delegateDescription="This will run or debug .xmu2 files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="edu.ustb.sei.mde.xmu2.resource.xmu2.debug.Xmu2SourcePathComputerDelegate" id="edu.ustb.sei.mde.xmu2.resource.xmu2.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="edu.ustb.sei.mde.xmu2.resource.xmu2.ui.sourceLocator" class="edu.ustb.sei.mde.xmu2.resource.xmu2.debug.Xmu2SourceLocator" name="xmu2 Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
