<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="edu.ustb.sei.mde.xmu.resource.xmu.mopp.XmuMetaInformation" id="edu.ustb.sei.mde.xmu.resource.xmu.mopp.XmuMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu.resource.xmu.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu.resource.xmu.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu.resource.xmu.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu.resource.xmu.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="edu.ustb.sei.mde.xmu.resource.xmu.problem">
		</super>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.nature" name="xmu nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="edu.ustb.sei.mde.xmu.resource.xmu.mopp.XmuNature">
			</run>
		</runtime>
		<builder id="edu.ustb.sei.mde.xmu.resource.xmu.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="edu.ustb.sei.mde.xmu.resource.xmu.builder" name="xmu Builder">
		<builder hasNature="true">
			<run class="edu.ustb.sei.mde.xmu.resource.xmu.mopp.XmuBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="edu.ustb.sei.mde.xmu.resource.xmu.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="edu.ustb.sei.mde.xmu.resource.xmu.mopp.XmuResourceFactoryDelegator" type="xmu">
		</parser>
	</extension>
	
	<extension-point id="edu.ustb.sei.mde.xmu.resource.xmu.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint class="edu.ustb.sei.mde.xmu.resource.xmu.debug.XmuLineBreakpoint" id="edu.ustb.sei.mde.xmu.resource.xmu.debug.breakpoint" markerType="edu.ustb.sei.mde.xmu.resource.xmu.debug.lineBreakpoint.marker" name="xmu Breakpoint">
		</breakpoint>
	</extension>
	
	<extension id="edu.ustb.sei.mde.xmu.resource.xmu.debug.lineBreakpoint.marker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.debug.core.lineBreakpointMarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<persistent value="true">
		</persistent>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="edu.ustb.sei.mde.xmu.resource.xmu.ui.launchConfigurationType" delegate="edu.ustb.sei.mde.xmu.resource.xmu.launch.XmuLaunchConfigurationDelegate" modes="run,debug" name="xmu Application" sourceLocatorId="edu.ustb.sei.mde.xmu.resource.xmu.ui.sourceLocator" sourcePathComputerId="edu.ustb.sei.mde.xmu.resource.xmu.ui.sourcePathComputer" delegateName="xmu Launch Tooling" delegateDescription="This will run or debug .xmu files.">
		</launchConfigurationType>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourcePathComputers">
		<sourcePathComputer class="edu.ustb.sei.mde.xmu.resource.xmu.debug.XmuSourcePathComputerDelegate" id="edu.ustb.sei.mde.xmu.resource.xmu.ui.sourcePathComputer">
		</sourcePathComputer>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
		<sourceLocator id="edu.ustb.sei.mde.xmu.resource.xmu.ui.sourceLocator" class="edu.ustb.sei.mde.xmu.resource.xmu.debug.XmuSourceLocator" name="xmu Source Locator">
		</sourceLocator>
	</extension>
	
</plugin>
