<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xmu2core -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.ustb.sei.mde.xmu2core.presentation.Xmu2coreModelWizardID"
            name="%_UI_Xmu2coreModelWizard_label"
            class="edu.ustb.sei.mde.xmu2core.presentation.Xmu2coreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Xmu2coreModelFile.gif">
         <description>%_UI_Xmu2coreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xmu2core -->
      <editor
            id="edu.ustb.sei.mde.xmu2core.presentation.Xmu2coreEditorID"
            name="%_UI_Xmu2coreEditor_label"
            icon="icons/full/obj16/Xmu2coreModelFile.gif"
            extensions="xmu2core"
            class="edu.ustb.sei.mde.xmu2core.presentation.Xmu2coreEditor"
            contributorClass="edu.ustb.sei.mde.xmu2core.presentation.Xmu2coreActionBarContributor">
      </editor>
   </extension>

</plugin>
