<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="bxcore"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			matchingStrategy="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.editor.JavaEditorInputMatcher"
			name="BXCore Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="edu.ustb.sei.mde.bxcore.dsl.BXCore.validate">
		<activeWhen>
			<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="edu.ustb.sei.mde.bxcore.dsl.BXCore"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="edu.ustb.sei.mde.bxcore.dsl.BXCore.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="edu.ustb.sei.mde.bxcore.dsl.BXCore"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			name="BXCore">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
		</page>
		<page
			category="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.coloring"
			name="Syntax Coloring">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
		</page>
		<page
			category="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.templates"
			name="Templates">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			name="BXCore">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"
			label="BXCore"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="edu.ustb.sei.mde.bxcore.dsl.BXCore.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="bxcore"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.contenttype"
			name="BXCore File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="bxcore">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="bxcore">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for edu.ustb.sei.mde.bxcore.dsl.BXCore -->
	<extension
			id="bxcore.check.fast"
			name="BXCore Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="bxcore.check.normal"
			name="BXCore Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="bxcore.check.expensive"
			name="BXCore Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="bxcore"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="edu.ustb.sei.mde.bxcore.dsl.BXCore.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for edu.ustb.sei.mde.bxcore.dsl.BXCore -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="edu.ustb.sei.mde.bxcore.dsl.ui.bxcore.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="edu.ustb.sei.mde.bxcore.dsl.ui.bxcore.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="edu.ustb.sei.mde.bxcore.dsl.ui.bxcore.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="edu.ustb.sei.mde.bxcore.dsl.BXCore"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.refactoring"
			name="Refactoring">
			<keywordReference id="edu.ustb.sei.mde.bxcore.dsl.ui.keyword_BXCore"/>
		</page>
	</extension>
	<!-- Type Hierarchy  -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchyHandler"
			commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.imports.OrganizeImportsHandler"
			commandId="org.eclipse.xtext.xbase.ui.organizeImports">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="org.eclipse.xtext.xbase.ui.organizeImports"
				 style="push"
				 tooltip="Organize Imports">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
				style="push"
				tooltip="Open Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy"
				style="push"
				tooltip="Quick Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- Call Hierachy -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierachyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy"
				style="push"
				tooltip="Open Call Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.core.runtime.adapters">
		<factory class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.builder.smap.StratumBreakpointAdapterFactory"
			adaptableType="edu.ustb.sei.mde.bxcore.dsl.ui.editor.BXCoreEditor">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
		</factory> 
	</extension>
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="edu.ustb.sei.mde.bxcore.dsl.BXCore" 
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.rulerActions">
			<action
				label="Not Used"
	 			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				style="push"
				actionID="RulerDoubleClick"
				id="edu.ustb.sei.mde.bxcore.dsl.BXCore.doubleClickBreakpointAction"/>
		</editorContribution>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="edu.ustb.sei.mde.bxcore.dsl.BXCore.RulerContext"
			id="edu.ustb.sei.mde.bxcore.dsl.BXCore.RulerPopupActions">
			<action
				label="Toggle Breakpoint"
				class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				menubarPath="debug"
				id="edu.ustb.sei.mde.bxcore.dsl.BXCore.rulerContextMenu.toggleBreakpointAction">
			</action>
			<action
				label="Not used"
				class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
				menubarPath="debug"
				id="edu.ustb.sei.mde.bxcore.dsl.BXCore.rulerContextMenu.enableDisableBreakpointAction">
			</action>
			<action
				label="Breakpoint Properties"
				helpContextId="breakpoint_properties_action_context"
				class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
				menubarPath="group.properties"
				id="edu.ustb.sei.mde.bxcore.dsl.BXCore.rulerContextMenu.openBreapointPropertiesAction">
			</action>
		</viewerContribution>
	</extension>
	<!-- Introduce Local Variable Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.refactoring.ExtractVariableHandler"
			commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- Open implementation -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.navigation.OpenImplementationHandler"
			commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
			<activeWhen>
				<reference
					definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:navigate?after=open.ext4">
			<command commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="edu.ustb.sei.mde.bxcore.dsl.BXCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="edu.ustb.sei.mde.bxcore.dsl.BXCore.compare.contentViewers"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="bxcore">
		</viewer>
		<contentTypeBinding
			contentTypeId="edu.ustb.sei.mde.bxcore.dsl.BXCore.contenttype"
			contentViewerId="edu.ustb.sei.mde.bxcore.dsl.BXCore.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="edu.ustb.sei.mde.bxcore.dsl.BXCore.compare.contentMergeViewers"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="bxcore" label="BXCore Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="edu.ustb.sei.mde.bxcore.dsl.BXCore.contenttype"
			contentMergeViewerId="edu.ustb.sei.mde.bxcore.dsl.BXCore.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="edu.ustb.sei.mde.bxcore.dsl.BXCore.editors.documentProviders"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="bxcore">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="bxcore"
			type="text">
		</fileTypes>
	</extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<category id="edu.ustb.sei.mde.bxcore.dsl.ui.category" name="BXCore">
		</category>
		<wizard
			category="edu.ustb.sei.mde.bxcore.dsl.ui.category"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.wizard.template.TemplateNewProjectWizard"
			id="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreNewProjectWizard"
			name="BXCore Project"
			icon="icons/new_BXCore_proj.gif"
			project="true">
		</wizard>
	</extension>
	<extension
	      point="org.eclipse.xtext.ui.projectTemplate">
	   <projectTemplateProvider
	         class="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreProjectTemplateProvider"
	         grammarName="edu.ustb.sei.mde.bxcore.dsl.BXCore">
	   </projectTemplateProvider>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
			<newWizardShortcut id="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreNewProjectWizard"/>
		</perspectiveExtension>
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<newWizardShortcut id="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreNewProjectWizard"/>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<category id="edu.ustb.sei.mde.bxcore.dsl.ui.category" name="BXCore">
		</category>
		<wizard
			category="edu.ustb.sei.mde.bxcore.dsl.ui.category"
			class="edu.ustb.sei.mde.bxcore.dsl.ui.BXCoreExecutableExtensionFactory:org.eclipse.xtext.ui.wizard.template.TemplateNewFileWizard"
			id="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreNewFileWizard"
			name="BXCore File"
			icon="icons/new_BXCore_file.png">
		</wizard>
	</extension>
	<extension
	      point="org.eclipse.xtext.ui.fileTemplate">
	   <fileTemplateProvider
	         class="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreFileTemplateProvider"
	         grammarName="edu.ustb.sei.mde.bxcore.dsl.BXCore">
	   </fileTemplateProvider>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
			<newWizardShortcut id="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreNewFileWizard"/>
		</perspectiveExtension>
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<newWizardShortcut id="edu.ustb.sei.mde.bxcore.dsl.ui.wizard.BXCoreNewFileWizard"/>
		</perspectiveExtension>
	</extension>
</plugin>
