<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated runtime -->
      <package
            uri="http://www.ustb.edu.cn/sei/mde/emg/runtime"
            class="edu.ustb.sei.mde.emg.runtime.RuntimePackage"
            genModel="model/runtime.genmodel"/>
   </extension>

</plugin>
